<%- include('../partials/nav') %>
<div class="flex w-3/5 flex-row mx-auto justify-start mt-8">
  <form method="post" action=<%=`/companies/${company._id}?_method=DELETE` %>>
    <button type="submit" class="inline-block bg-red-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Delete</button>
  </form>
  <a href=<%= `/companies/${company._id}/edit` %>>
    <span class="inline-block bg-blue-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Edit</span>
  </a>
  <a href=<%= `/companies/${company._id}/employees/new` %>><span class="inline-block bg-green-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-21">Add employee</span></a>
</div>  
<div>
  <div class="w-3/5  mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
    <header class="px-5 py-4 border-b border-gray-100">
      <h2 class="font-semibold text-gray-800 text-center text-3xl font-serif"><%= `Employees at ${company.name}` %> </h2>
    </header>
    <div class="p-3">
      <div class="overflow-x-auto">
        <table class="table-auto w-full">
          <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
            <tr>
              <th class="p-2 whitespace-nowrap">
                <div class="font-semibold text-left">Name</div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="font-semibold text-left">Email</div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="font-semibold text-left">Rate</div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="font-semibold text-center">Actions</div>
              </th>
            </tr>
          </thead>
          <tbody class="text-sm divide-y divide-gray-100">
            <% employees.forEach(employee => {%>
            <%- include('../partials/employees/employeeTableRow',{company, employee}) %>
            <% }); %>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
